<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
		          
    <title>Document</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container">
    <div class="mx-auto col-sm-8 main-section">
        <h3 style="margin-top: 10px">Sign Up Now</h3>
        <p>Please fill out this to register</p>
        <form th:action="@{/register}" th:object="${user}" method="post">
            
            <div class="form-group row">
                <label for="firstName">First Name</label>
                <div class="col-lg-9">              
               <input type="text" th:field="${user.firstName}" name="firstName" id="firstName" required placeholder="Your Firstname" class="form-control">
            </div>
            </div>
   
            <div class="form-group row">
                <label for="lastName">Last Name</label>
                <div class="col-lg-9">
                <input type="text" th:field="${user.lastName}" name="lastName" id="lastName" required placeholder="Your Lastname" class="form-control ">
            </div>
            </div>
            
            
            <div class="form-group row">
                <label for="email">Email address</label>
                <div class="col-lg-9">
                <input type="email"  th:field="${user.email}" class="form-control " required minlength="6" placeholder="Email" name="email" id="email"
                       aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                    anyone else.</small>
                    </div>
            </div>
            
             <div class="form-group row">
                <label for="username">Username</label>
                <div class="col-lg-9">
                <input type="text" th:field="${user.username}" name="username" id="username" required placeholder="Your username" class="form-control ">
            </div>
            </div>
            <!-- role 
           <div class="form-group row">
		<label th:text="Roles" class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select class="form-control" th:size="${register}?1 :3" th:field="${user.roles}" >
				<option th:each="role :${roles}" th:value="${role.id}" th:text="${role.name}">
				</option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Name Error</div>
		</div>
	</div> 
            <!-- role end-->
            
   <div class="form-group required">
                        <label class="col-sm-2 control-label" for="country">Country</label>
                        <div class="col-sm-10">
                            <select name="country_id" id="country" th:field="*{country}" class="form-control">
                                <option value=""> --- Please Select --- </option>
                                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.code}+' - '+${country.name}"></option>
                            </select>
                            <p th:if="${#fields.hasErrors('country')}" th:errorclass="error" th:errors="*{country}" />
                        </div>
        </div>          
            
            
            <div class="form-group row">
                <label for="password">Password</label>
                <div class="col-lg-9">
                <input type="password" th:field="${user.password}" class="form-control " required placeholder="Password" name="password" id="password" >
            </div>
            </div>
            
          <div class="form-group row">
                <label for="password">Confirm Password</label>
                <div class="col-lg-9">
                <input type="password" th:field="${user.confirmPassword}" class="form-control" required placeholder="Confirm Password">
                 </div>
            </div>
            
	        <div class="form-group row ">
               <div class="col-lg-4 text-center">
                 <input type="submit" value="Register" class="btn btn-primary btn-block">
            </div>
            </div>
            <span style="margin-top: 10px">Already have an account <a class="linkControl" href="./login.html"
                                                                      th:href="@{/login}">Login here</a></span>
        </form>
    </div>
</div>

<!--JQUERY-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>	
</body>
</html>