<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
		
    <title>Document</title>
</head>
<body>
<!-- fragments -->			
<div th:replace="/fragments/navTopBar"></div>
<div th:replace="/fragments/navbar"></div>	
<!-- end fragments -->
	<div class="main-container container">

			<!--Section: Block Content-->
			<section class="mt-5 mb-4">

				<!--Grid row-->
				<div class="row">

					<!--Grid column-->
					<div class="col-lg-9 mb-4">

						<!-- Card -->
						<div class="card wish-list pb-1">
							<div class="card-body">

								<!-- Main Container  -->
								<div class="main-container container">
   <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Order Details</a></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <div th:if="${error}">
                <div class="alert alert-danger" th:text="${error}"></div>
            </div>

            <h2 class="title">Order Details</h2>

            <div th:if="${error == null}">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td colspan="2" class="text-left">Order Details</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 50%;" class="text-left"> <b>Order ID:</b> <span th:text="'#'+${order.id}"></span>
                            <br>
                            <b>Date Added:</b> <span th:text="${order.orderDate}"></span></td>
                        <td style="width: 50%;" class="text-left"> <b>Payment Method:</b> <span th:text="${order.paymentMethod}"></span>
                            <br>
                            <b>Shipping Method:</b> <span th:text="${order.shippingMethod}"></span> </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td style="width: 50%; vertical-align: top;" class="text-left">Payment Address</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left">
                            <p th:text="${order.user.firstName}+' '+${order.user.lastName}"></p>
              <!--          <p th:text="${order.user.address1}"></p>
                            <p th:text="${order.user.postalCode}"></p>
                            <p th:text="${order.user.state}"></p>
                            <p th:text="${order.user.city}"></p>  -->
                            <p th:text="${order.user.country.name}"></p>
                    </tr>
                    </tbody>
                </table>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left">Product Name</td>
                            <td class="text-left">Model</td>
                            <td class="text-right">Quantity</td>
                            <td class="text-right">Price</td>
                            <td class="text-right">Total</td>
                            <td style="width: 20px;"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderDetail : ${order.getOrderDetailList()}">
                            <td class="text-left" th:text="${orderDetail.product.name}"></td>
                            <td class="text-left" th:text="${orderDetail.product.code}"></td>
                            <td class="text-right" th:text="${orderDetail.quantity}"></td>
                            <td class="text-right" th:text="${orderDetail.ourPrice}"></td>
                            <td class="text-right" th:text="${orderDetail.totalPrice}"></td>
                            <td style="white-space: nowrap;" class="text-right">
                                <a class="btn btn-primary" title="" data-toggle="tooltip" target="_blank" th:href="@{/part-details(id=${orderDetail.product.id})}" data-original-title="Reorder"><i class="fa fa-shopping-cart"></i></a>
                                <!--
                                                            <a class="btn btn-danger" title="" data-toggle="tooltip" th:href="@{/product-details(id=${orderDetail.product.id})}" data-original-title="Return"><i class="fa fa-reply"></i></a>
                                -->
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td class="text-right"><b>Sub-Total</b>
                            </td>
                            <td class="text-right" th:text="${order.subTotal}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td class="text-right">
                                <strong>Tax Rate:</strong>
                            </td>
                            <td class="text-right" th:text="${order.taxRate}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td class="text-right">
                                <strong>Tax Total:</strong>
                            </td>
                            <td class="text-right" th:text="${order.taxTotal}"></td>
                            <td></td>
                        </tr>
                        <!--<tr>
                            <td colspan="3"></td>
                            <td class="text-right"><b>Flat Shipping Rate</b>
                            </td>
                            <td class="text-right" th:text="${order.shippingTotal}"></td>
                            <td></td>
                        </tr>-->
                        <tr>
                            <td colspan="3"></td>
                            <td class="text-right"><b>Grand Total</b>
                            </td>
                            <td class="text-right" th:text="${order.grandTotal}"></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <h3>Order History</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td class="text-left">Date Added</td>
                        <td class="text-left">Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left" th:text="${order.orderDate}"></td>
                        <td class="text-left" th:text="${order.orderStatus}"></td>
                    </tr>
                    <!--
                                    <tr>
                                        <td class="text-left">24/06/2016</td>
                                        <td class="text-left">Complete</td>
                                    </tr>
                    -->
                    </tbody>
                </table>
                <div class="buttons clearfix">
                    <div class="pull-right"><a class="btn btn-primary" onclick="javascript:window.print();" href="#">Print</a></div>
                </div>
            </div>


        </div>
        <!--Middle Part End-->

   <!--    <div th:replace="/my-account/template/leftnav"></div> -->

    </div>									
								</div>
								<!-- //Main Container -->

							</div>
						</div>
						<!-- Card -->

					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-3">

						<!-- Card -->
						<div class="card mb-4">
							<div class="card-body">
								<h4 class="panel-title">
									<i class="fa fa-user"></i> tu cuenta
								</h4>
								<div class="panel-body">
                <!--Right Part Start -->
          <div class="col-sm-12 " id="column-right">
             <h2 class="subtitle">Account</h2>
            <div class="list-group">
             <ul class="list-item">
            <li><a th:href="@{/my-account}"><i class="fa fa-dashboard"></i> My Account</a></li>
            <li><a th:href="@{/order-history}"><i class="fa fa-history"></i> Order History</a></li>
            <li><a th:href="@{/change-password}"><i class="fa fa-key"></i> Change Password</a></li>
        </ul>
    </div>
          </div>
<!--Right Part End -->

							</div>

							</div>
						</div>
						<!-- Card -->


					</div>
					<!--Grid column-->

				</div>
				<!--Grid row-->

			</section>
			<!--Section: Block Content-->

		
	</div>




	<!--JQUERY-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>	
</body>
</html>